@using Microsoft.AspNetCore.Identity
@using FashionWeb.Seeds;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="dropdown">
            <a class="nav-link scrollto meuPerfil">
                <i class="bi bi-person-circle mr-2"></i> Meu Perfil
            </a>
            <ul>
                @if (User.IsInRole("USUARIO") || User.IsInRole("ADMINISTRADOR"))
                {
                    <li><a asp-controller="User" asp-action="Profile"> <i class="bi bi-person"></i> Meu Perfil</a></li>
                    <li><a asp-controller="User" asp-action="Cart"><i class="bi bi-cart"></i> Carrinho</a></li>
                    <li><a asp-controller="User" asp-action="Orders"><i class="bi bi-cart"></i> Pedidos</a></li>
                }
                @if (User.IsInAllRoles("ADMINISTRADOR"))
                {
                    <li><a asp-controller="User" asp-action="Products"> <i class="bi bi-person-gear"></i> Produtos</a></li>
                    <li><a asp-controller="Admin" asp-action="ManagementUsers"> <i class="bi bi-person-gear"></i> Administrador</a></li>
                }
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">
                            <i class="bi bi-box-arrow-right"></i> Sair
                        </button>
                    </form>
                </li>
            </ul>
        </li>

    }
    else
    {
        <li class="nav-link scrollto">
            <a class="nav-link" asp-controller="Home" asp-action="Register">Cadastro</a>
        </li>
        <li class="nav-link scrollto">
            <a class="nav-link" asp-controller="Home" asp-action="Login">Login</a>
        </li>
    }
</ul>
