@{
    ViewData["Title"] = "Sobre";
}

<head>
    <link rel="stylesheet" href="/css/about.css">
</head>
<main class="container">
    <section class="section-price">
        <h1 class="home__title">Veja nossos planos</h1>
        <h3 class="home__subtitle ">Precisa de uma boa visibilidade do seu serviço? Venha fazer parte da nossa rede</h3>
        <div class="content-prices">
            <div class="price">
                <h4>Perfil Simples</h4>
                <h5>R$ 10,00 / Mensal</h5>
                <img src="/img/pricing-starter.png" alt="Perfil Simples">
                <ul>
                    <li><i class="bi bi-check2-circle"></i> Disponível nas buscas dentro do site</li>
                    <li><i class="bi bi-check2-circle"></i> Cadastro de dados do seu negócio</li>
                    <li><i class="bi bi-check2-circle"></i> Upload de foto de perfil</li>
                    <li><i class="bi bi-check2-circle"></i> Upload de banner</li>
                    <li class="nao-disponivel"><i class="bi bi-x-circle"></i> Avaliação de perfil</li>
                    <li class="nao-disponivel"><i class="bi bi-x-circle"></i> Perfil de assinantes</li>
                    <li class="nao-disponivel"><i class="bi bi-x-circle"></i> Cadastro de produtos/serviços ilimitados</li>
                    <li class="nao-disponivel"><i class="bi bi-x-circle"></i> Pode criar sorteios pela plataforma</li>
                    <li class="nao-disponivel"><i class="bi bi-x-circle"></i> Selo de verificado</li>
                    <li class="nao-disponivel"><i class="bi bi-x-circle"></i> Recebe um Adesivo Físico</li>
                    <li class="nao-disponivel"><i class="bi bi-x-circle"></i> Suporte direto com os desenvolvedores</li>
                </ul>
                <a href="https://wa.me/+5538998097623" target="_blank" class="contratar"><i class="bx bxl-whatsapp"></i>Contratar serviço</a>            
            </div>
            <div class="price">
                <h4>Perfil Assinante</h4>
                <h5>R$ 20,00 / Mensal</h5>
                <img src="/img/pricing-ultimate.png" alt="Perfil Assinante">
                <ul>
                    <li><i class="bi bi-check2-circle"></i> Disponível nas buscas dentro do site</li>
                    <li><i class="bi bi-check2-circle"></i> Cadastro de dados do seu negócio</li>
                    <li><i class="bi bi-check2-circle"></i> Upload de foto de perfil</li>
                    <li><i class="bi bi-check2-circle"></i> Upload de banner</li>
                    <li><i class="bi bi-check2-circle"></i> Avaliação de perfil</li>
                    <li><i class="bi bi-check2-circle"></i> Perfil de assinantes</li>
                    <li><i class="bi bi-check2-circle"></i> Cadastro de produtos/serviços ilimitados</li>
                    <li><i class="bi bi-check2-circle"></i> Pode criar sorteios pela plataforma</li>
                    <li><i class="bi bi-check2-circle"></i> Selo de verificado</li>
                    <li><i class="bi bi-check2-circle"></i> Recebe um Adesivo Físico</li>
                    <li><i class="bi bi-check2-circle"></i> Suporte direto com os desenvolvedores</li>
                </ul>
                <a href="https://wa.me/+5538998097623" target="_blank" class="contratar"><i class="bx bxl-whatsapp"></i>Contratar serviço</a>
            </div>
        </div>
    </section>

</main>