@{
    ViewData["Title"] = "Início";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/lib/swiper/swiper-bundle.min.css">

<body>
    <div class="spinerBackground">
        <div class="spinerStyle" id="loading-bar-container">

        </div>
    </div>
    <div id="popupContainer">

    </div>
    <div ng-app="myApp" ng-controller="HomeController">
        <section class="section_main">
            <div class="container position-relative">
                <div class="banner-desk" style="text-align:center">

                </div>
            </div>
        </section>
        <section id="filtragem" style="padding:0px !important">
            <div class="container">
                <div class="content-filter">
                    <br />

                    <div class="collapse show" id="collapseExample">
                        <div class="swiper container-categorias">
                            <div class="header-catergorias">
                                <h3></h3>
                            </div>
                            <div class="content-pagination-buttons">
                                <div class="button-next"><i class="bi bi-arrow-left-circle"></i></div>
                                <div class="button-prev"><i class="bi bi-arrow-right-circle"></i></div>
                            </div>
                            <div class="contegorias swiper-wrapper" ng-model="filter.Category">
                                <label class="categoria swiper-slide" ng-repeat="category in list.categories"
                                       ng-value="category.id" ng-class="{'active': filter.Category.id == category.id}">
                                    <img ng-show="category.icon != null && category.icon != ''"
                                         ng-src="{{category.icon}}" height="25" style="text-align:right;">
                                    <span>{{category.name}}</span>
                                    <input type="radio" ng-model="filter.Category"
                                           ng-change="changeCategory();getProducts();" ng-value="category">
                                </label>
                            </div>
                        </div>
                        <div class="">
                            <div class="content-filter-category">
                                <span class="see-all" ng-click="clearFilter()" style="font-weight: bold;">
                                    Ver todas<i class="bi bi-eye"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="text-center mt-5"
                     ng-show="list.products == null || list.products.length == 0">
                    <span>Nenhum registro foi encontrado, tente outro filtro.</span>
                </div>
            </div>
            <div class="container position-relative">

                <div class="person-list">
                    <div class="person-item" ng-repeat="item in list.products"
                         ng-click="visitProduct(item.id)">
                        <img ng-src="{{ item.image }}" alt="{{ item.name }}" class="person-image">
                        <div class="person-content">
                            <div>
                                <h2 class="person-name">
                                    {{ item.name }}
                                </h2>
                                <p class="person-description" style="color: green;">{{item.value | currency:"R$"}}</p>
                            </div>
                            <div type="button" class="button--link">
                                <span>Visitar <i class="bi bi-arrow-right-short"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="list.products != null && list.products.length > 0">
                    <div class="col-md-12" style="text-align:center">
                        <ul uib-pagination ng-model="filter.PageNumber" total-items="entity.totalItems"
                            items-per-page="9" max-size="5" previous-text="<<" next-text=">>" rotate="true"
                            ng-change="getProducts()" class="pagination-sm justify-content-center"></ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<!-- Vendor JS Files -->
<script src="lib/isotope-layout/isotope.pkgd.min.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script src="/lib/swiper/swiper-bundle.min.js"></script>
<script>

    var swiper = new Swiper(".mySwiper", {
        loop: true,
        grabCursor: true,
        spaceBetween: 30,
        autoplay: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            dynamicBullets: true,
        },
        breakpoints: {
            976: {
                slidesPerView: 3,
            },
            568: {
                slidesPerView: 2,
            },
        }
    });

    var swiperCategory = new Swiper(".container-categorias", {
        grabCursor: true,
        freeMode: true,
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
            clickable: true,
        },
        navigation: {
            nextEl: ".button-prev",
            prevEl: ".button-next",
        },
        breakpoints: {
            1150: {
                slidesPerView: 9,
            },
            650: {
                slidesPerView: 5,
            }
        }
    });

</script>

