@{
    ViewData["Title"] = "Início";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/lib/swiper/swiper-bundle.min.css">

<body ng-app="myApp" class="contentBody" ng-controller="HomeController">
    <div class="spinerBackground">
        <div class="spinerStyle" id="loading-bar-container">

        </div>
    </div>
    <div id="popupContainer">

    </div>
    <div>
        <section class="section_main">
            <div class="container position-relative">
                <!-- Swiper -->
                <div class="swiper mySwiperBanner">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/img/banner-prin.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <section class="sectionBanners">
            <div class="container contentBanners">
                <div class="contentOffers">
                    <div class="offer">
                        <a href="#!">
                            <img src="~/img/bannerOffer.webp" alt="">
                        </a>
                    </div>
                    <div class="offer">
                        <a href="#!">
                            <img src="~/img/bannerOffer.webp" alt="">
                        </a>
                    </div>
                    <div class="offer">
                        <a href="#!">
                            <img src="~/img/offer2.webp" alt="">
                        </a>
                    </div>

                    <div class="offer">
                        <a href="#!">
                            <img src="~/img/offer3.webp" alt="">
                        </a>
                    </div>
                    <div class="offer">
                        <a href="#!">
                            <img src="~/img/bannerOffer.webp" alt="">
                        </a>
                    </div>
                </div>
                <div class="contentDestack">
                    <div class="destaqueMes">
                        <div class="header">
                            <h5><i class="bi bi-stopwatch"></i> Destaques do mês</h5>
                            <div class="timer">
                                <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
                            </div>
                        </div>
                        <div class="bodyDestack">
                            <!-- Swiper -->
                            <div class="swiper mySwiperDestack">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#!">
                                            <img src="~/img/relogio.webp" alt="">
                                            <div class="info">
                                                <h5>Relógio tecnologico</h5>
                                                <span class="beforeValue">R$ 199,00</span>
                                                <span class="actualeValue">R$ 110,00</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                    <div class="marcasDetaques">
                        <div class="marcas">
                            <a href="#!">
                                <img src="~/img/marca1.webp" alt="">
                            </a>
                        </div>
                        <div class="marcas">
                            <a href="#!">
                                <img src="~/img/marca2.webp" alt="">
                            </a>
                        </div>
                        <div class="marcas">
                            <a href="#!">
                                <img src="~/img/marca3.webp" alt="">
                            </a>
                        </div>
                        <div class="marcas">
                            <a href="#!">
                                <img src="~/img/marca4.webp" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="contentOffersMarcas">
                        <div class="offerMarcas">
                            <a href="#!">
                                <img src="~/img/offer3.webp" alt="">
                            </a>
                        </div>
                        <div class="offer">
                            <a href="#!">
                                <img src="~/img/bannerOffer.webp" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<!-- Vendor JS Files -->
<script src="lib/isotope-layout/isotope.pkgd.min.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script src="/lib/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiperBanner", {
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
        },
    });
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        grabCursor: true,
        spaceBetween: 30,
        autoplay: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            dynamicBullets: true,
        },
        breakpoints: {
            976: {
                slidesPerView: 3,
            },
            568: {
                slidesPerView: 2,
            },
        }
    });

    var swiperCategory = new Swiper(".container-categorias", {
        grabCursor: true,
        freeMode: true,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
            clickable: true,
        },
        navigation: {
            nextEl: ".button-prev",
            prevEl: ".button-next",
        },
        breakpoints: {
            1150: {
                slidesPerView: 9,
            },
            650: {
                slidesPerView: 5,
            }
        }
    });
    var mySwiperDestack = new Swiper(".mySwiperDestack", {
        loop: true,
        autoplay: {
            delay: 3500,
            disableOnInteraction: false
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        }

    });

</script>
