@model bool
@{

}


<html>

<head>
    <link rel="stylesheet" href="~/css/style-contact.css" />
    <style>
    </style>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>
</head>

<body>
    <div class="spinerBackground">
        <div class="spinerStyle" id="loading-bar-container">

        </div>
    </div>
    <section id="hero">
        <div class="login position-relative" ng-app="myApp" ng-controller="loginController">
            <form method="post" class="form">
                <script type="text/ng-template" id="alert.html">
                    <div ng-transclude></div>
                </script>
                @if (Model == true)
                {
                    <div uib-alert ng-class="'alert-success'">{{'Email confirmado, pode fazer login.'}}</div>
                }
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
                     close="closeAlert($index)">{{alert.msg}}</div>
                <h2>Fazer Login</h2>
                <div class="group-input">
                    <label for="username">Usuário ou email</label>
                    <input type="text" ng-model="user.username" value="" placeholder="Nome de usuário ou e-mail"
                           required>
                    <i class="uil uil-user"></i>
                </div>
                <div class="group-input">
                    <label for="password">Senha</label>
                    <input type="password" ng-model="user.password"
                           ng-attr-type="{{ showPassword ? 'text' : 'password' }}" value="" placeholder="Digite sua senha"
                           required>
                    <span ng-click="changeShowPassword()"><i class="bi {{ showPassword ? 'bi-eye-slash' : 'bi-eye' }}"></i></span>
                </div>
                <p class="submit">
                    <button class="btn" type="button" ng-click="loginUser()"
                            ng-disabled="disableLogin">
                        Entrar <i class="uil uil-arrow-right"></i>
                    </button>
                </p>
                <p class="footer-form">
                    Ainda não tem uma conta?
                    <a href="/Home/Register">Crie uma agora!</a>
                </p>
            </form>
        </div>
    </section>

</body>

</html>