@{
    ViewData["Title"] = "Produto";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

    <script src="/lib/jquery-mask-plugin-master/dist/jquery.mask.min.js"></script>
    <script>
        $('.cep').mask('00000-000', { reverse: true });
    </script>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .produto-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .produto-img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        .produto-descricao {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .produto-valor {
            font-size: 8px;
        }

        .botao-preto {
            display: inline-block;
            padding: 10px 20px;
            background-color: #000;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>

<section class="container profile height-min" ng-app="myApp" ng-controller="homeProfileController"
         ng-init="loadProduct('@ViewBag.Id')">
    <script type="text/ng-template" id="alert.html">
        <div ng-transclude></div>
    </script>
    <div class="spinerBackground">
        <div class="spinerStyle" id="loading-bar-container">

        </div>
    </div>
    <div id="popupContainer">
    </div>

    <div class="produto-container">
        <div class="produto-descricao" style="text-align:center">{{entity.name}}</div><br />
        <div style="text-align:center">
            <img class="produto-img" ng-src="/{{entity.image}}" alt="{{entity.name}}">
        </div><br />

        <form action="@Url.Action("SaveProductCart", "Home")" method="post">
            <input type="hidden" name="id" value="{{entity.id}}">
            <div class="row" style="text-align:center">
                <div class="col-md-12">
                    <div class="produto-valor">
                        <button type="submit" class="botao-preto"> Adicionar ao carrinho </button>
                    </div>
                </div>
            </div>
        </form><br /><br />

        <div>
            <span>
                Vendido e entregue por Digital Shop.
            </span>
        </div>
        <div>
            <span>
                O Digital Shop a sua compra, do pedido à entrega.
            </span>
        </div><br />

        <div>
            <span>{{entity.value | currency:"R$"}} no cartão de crédito ou Boleto.</span>
        </div><br />

        <div class="produto-descricao">Informações do Produto</div>

        <div>
            <span>{{entity.name}}, {{entity.description}}</span>
        </div><br />
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
