<head>
    <link rel="stylesheet" href="~/css/style-contact.css" />

    <style>
    </style>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>
</head>

<div class="spinerBackground">
    <div class="spinerStyle" id="loading-bar-container">

    </div>
</div>

<section id="hero">
    <div class="login position-relative" data-aos="fade-up" data-aos-delay="100">
        <div ng-app="myApp" ng-controller="RecoverPasswordController">
            <div style="text-align:center">
                <script type="text/ng-template" id="alert.html">
                    <div ng-transclude></div>
                </script>
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
                     close="closeAlert($index)">{{alert.msg}}</div>
                <div class="group-input">
                    <input type="text" class="emailInput" ng-model="email" placeholder="Digite seu e-mail">
                </div>
                <div class="submit">
                    <button class="btn btn-primary" ng-click="recoverPassword()"
                            ng-disabled="disableRecover">
                        Recuperar
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>