<!DOCTYPE html>
<html>
<head>
    <title>Compra Cancelada</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <p>Esqueceu o pagamento? Volte e realize para ter seu pedido</p>
    </section>
</body>
</html>


<!-- Template Main JS File -->
<script src="/js/main.js"></script>