@{
    ViewData["Title"] = "Pagamento Concluído";
}

<!DOCTYPE html>
<html>
<head>
    <title>Obrigado pela compra!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <p>
            Se tiver dúvidas sobre o pedido, pode entrar em contato com o e-mail
            <a href="mailto:orders@example.com">victor@@salinasnegocios.com.br</a>.
        </p>
    </section>
</body>
</html>


<!-- Template Main JS File -->
<script src="/js/main.js"></script>